<!DOCTYPE html>
<html>
<head>
	<title>New Photo</title>
</head>
<body>
	<h1>Add a New Photo</h1>

	<main>
		<form action="/photos" method="POST">
			<input type="text" name="username" placeholder="Username">
			<br>
			<input type="text" name="image" placeholder="Image Url">
			<br>
			<textarea name="photoInfo" rows="10" cols="50" placeholder="Description"></textarea>
			<br>
			<button>Submit Photo</button>
		</form>
	</main>

</body>
</html>