<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<header>
		<h1>This is the Home Page</h1>
		<nav>
			<ul>
				<li>
					<a href="/users">Users</a>
				</li>
				<li>
					<a href="/photos">Photos</a>
				</li>
				<li>
					<a href="/users/new">Sign Up</a>
				</li>
				<li>
					<a href="/users/login">Login</a>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>