<!DOCTYPE html>
<html>
<head>
	<title>Create User Profile</title>
</head>
<body>
	<header>
		<h1>Welcome!</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/users">All Users</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<form action="/users" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="name" placeholder="name">
			<input type="text" name="location" placeholder="location">
			<input type="text" name="password" placeholder="password">
			<input type="submit" name="" value="Create User">
		</form>
	</main>

</body>
</html>